.devices__container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
}

.devices__content {
  padding-right: 100px;
  margin-top: 30px;
}

.devices__text {
  margin-bottom: 42px;
  line-height: 28px;
}

.devices__pic {
  margin-left: 55px;
}
