.devices__container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;

  @include vp-1280 {
    position: relative;
    grid-template-columns: 1fr 1fr;
    overflow: visible;
  }

  @include vp-768 {
    display: block;
    padding-bottom: 276px;
  }
}

.devices__content {
  padding-right: 100px;
  margin-top: 30px;

  @include vp-1280 {
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 20px;
  }

  @include vp-768 {
    margin-bottom: 50px;
  }
}

.devices__heading {
  @include vp-1280 {
    margin-bottom: 4px;
  }

  @include vp-768 {
    margin: 5px 0 12px;
  }
}

.devices__text {
  margin-bottom: 42px;
  line-height: 28px;

  @include vp-1280 {
    margin: 0 0 28px;
    line-height: 24px;
  }

  @include vp-768 {
    line-height: 16px;
  }
}

.devices__pic-wrapper {
  @include vp-1280 {
    position: absolute;
    left: 49%;
    height: 100%;
    overflow-x: visible;
  }

  @include vp-768 {
    height: 276px;
    left: 0;
  }
}

.devices__pic {
  margin-left: 55px;

  @include vp-1280 {
    object-fit: cover;
    object-position: 0;
    width: 502px;
    height: 100%;
    margin-right: -100px;
    z-index: 3;
  }

  @include vp-768 {
    margin-left: 16px;
  }
}
