.faq__list {
  list-style: none;
  background-color: $color-default-white;
  padding: 0;
  margin-bottom: 32px;
}

.faq__item {
  padding: 19px 30px;
  cursor: pointer;
  border-bottom: 1px solid $color-dark-grey;

  &:last-child {
    border: none;
  }

  @include hover-focus {
    .faq__checkbox {
      background-color: $color-default-white;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    }
  }
}

.faq__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__question {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 52px;
}

.faq__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  position: relative;
  background-color: $color-background-grey;
  transition: $trans-default;

  &::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 2px;
    background-color: $color-basic-grey;
  }

  &::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 18px;
    background-color: $color-basic-grey;
  }
}

.faq__item--opened .faq__checkbox::after {
  display: none;
}

.faq__list--nojs .faq__checkbox {
  display: none;
}

.faq__answer {
  display: none;
  line-height: 28px;
  margin: 17px 0 10px;
}

.faq__item--opened .faq__answer {
  display: block;
}

.faq__list--nojs .faq__answer {
  display: block;
}
