.feature {
  padding: 44px 32px 34px;
  display: flex !important;
  flex-direction: column;
  background-color: $color-default-white;

  @include vp-1280 {
    padding: 20px;
  }

  @include vp-768 {
    padding: 20px 18px;
  }
}

.feature__title {
  margin: 14px 0;
  font-weight: 600;
  font-size: 20px;

  @include vp-1280 {
    margin: 4px 0 6px;
    font-size: 16px;
  }

  @include vp-768 {
    margin: 7px 0 12px;
    font-size: 14px;
  }
}

.feature:first-child .feature__title {
  margin: 10px 0;

  @include vp-1280 {
    margin: 4px 0 6px;
  }
}

.feature__text {
  margin-top: 0;

  @include vp-1280 {
    margin-bottom: 0;
  }
}

.feature__icon {
  margin-top: auto;

  @include vp-1280 {
    margin-top: 0;
    order: -1;
    height: 26px;
  }

  @include vp-768 {
    order: -1;
    width: 18px;
  }
}

.feature--main {
  position: relative;

  @include vp-1280 {
    padding-right: 50%;
  }

  .feature__text {
    @include vp-768 {
      padding-right: 20px;
    }
  }

  .feature__icon {
    margin-top: 23px;

    @include vp-1280 {
      margin-top: 0;
    }
  }
}

.feature__main-pic {
  position: absolute;
  bottom: 0;
  right: 12%;

  @include vp-1280 {
    object-fit: contain;
    object-position: bottom;
    width: 220px;
    height: 200px;
    right: 20px;
  }

  @include vp-768 {
    width: 142px;
    height: 133px;
    right: 5px;
  }
}
