.profile {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 58px;
}

.profile__language-selector {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  border: 1.5px solid $color-transparent;
  transition: $trans-default;

  &--nojs {
    display: none;
  }

  @include hover-focus {
    border: 1.5px solid rgba($color-basic-cyan, 0.7);
  }

  &--opened {
    border: 1.5px solid $color-basic-cyan;
    background-color: $color-basic-cyan;
  }

  @include vp-1280 {
    display: none;
  }
}

.profile__language-item {
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: none;
  padding: 14px;
  transition: $trans-default;

  &--checked {
    display: flex;
    align-items: center;

    &::after {
      margin-left: 6px;
      content: "";
      background-image: url("../img/svg/arrow.svg");
      width: 15px;
      height: 10px;
      transition: $trans-default;
    }
  }
}

.profile__language-selector--opened .profile__language-item {
  display: flex;

  &--checked::after {
    transform: rotate(180deg);
  }

  @include hover-focus {
    background-color: $color-default-white;
    color: $color-basic-cyan;
  }
}

.profile__sign-in-button {
  cursor: pointer;
  padding: 14px 26px;
  margin-left: 40px;
  border: 1.5px solid $color-default-white;
  border-radius: 3px;
  background: none;
  color: $color-default-white;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
  transition: $trans-default;

  @include hover-focus {
    opacity: 1;
    color: $color-basic-cyan;
    border-color: $color-basic-cyan;
  }

  @include vp-1280 {
    padding: 7px 25px;
  }

  @include vp-768 {
    padding: 8px 16px;
  }
}
