// colors
// ---------------------------------

// default
$color-default-black:    #000000;
$color-default-white:    #ffffff;
$color-transparent:      rgba(255, 255, 255, 0);

// project
$color-basic-black:      #2A2A2A;
$color-basic-blue:       #294570;
$color-basic-cyan:       #1DAAB3;
$color-dark-grey:        #D8D8D8;
$color-basic-grey:       #A0A0A0;
$color-background-grey:  #F4F4F4;


// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble: "Rouble", "arial", sans-serif;

$ff-inter: "Inter", "Arial", sans-serif;

// Typography
// ---------------------------------

$shadow-default: 2px 2px 15px rgba(0, 0, 0, 0.1);
$light-shadow: 0 0 8px rgba($color-default-white, 0.3);

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1280:                           1280px;
$vp-1600:                           1600px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
